/data/wb.text.model
/data/wb.text.model.syn1neg.npy
/data/wb.text.model.wv.vectors.npy
/log/*
/data/goal_set*

.DS_Store
gov/.DS_Store
__pycache__/*
conf/__pycache__/*
gov/__pycache__/*
utils/__pycache__/*
normal/__pycache__/*